
section {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

div.Header {
  padding: 24px;
  height: 100%;
  z-index: 1;
}

section#About {
  padding: 24px;
}

section#Skills {
  padding: 24px;
}


div.About {
  padding: 24px;
  height: 100%;
  z-index: 1;
}

div.Skills {
  padding: 24px;
  height: 100%;
  z-index: 1;
}
